@use 'variables' as *;
@use 'global' as *;
@use 'layout' as *; 





.text4 {
  @extend .section-container;
  margin-top: 100px;
}

.text4-left {
  @extend .section-left;
}

.text4-left h1 {
  font-weight: bold;
  font-size: $font-size-h1;
  line-height: $line-height-m;
  margin-bottom: 30px;
}

.text4-left p {
  font-size: $font-size-p;
  line-height: $line-height-s;
}


.text4-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}


form {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  width: 70%;
}



.input-field {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    border-color: #007BFF;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
}


.map {
  width: 100vw;
  display: flex;
  justify-content: center;
  @include container-padding;
  margin-bottom: 100px;
}

.map img{
  width: calc(100vw - 250px);
  height: auto;
  margin-top: 60px;
  margin-bottom: $spacing-l;
  object-fit: cover;
}


