$font-stack: "Mulish", serif;

$font-size-h1: 40px;
$font-size-h2: 28px;
$font-size-p: 16px;

$primary-color: #4A4FF2;
$secondary-color: rgba(0, 0, 0, 0.6);
$text-color: #111111; 
$bg-color:white;

$spacing-s: 20px;
$spacing-m: 30px;
$spacing-l: 45px;

$line-height-s: 26px;
$line-height-m: 55px;
$line-height-l: 60px;


$global-margin: 125px;



